---
const baseUrl = import.meta.env.BASE_URL;
const currentPath = Astro.url.pathname;

const links = [
  { href: "/", label: "Home" },
  { href: "/aboutus", label: "About Us" },
  { href: "/community", label: "Community Outreach" },
  { href: "/booking", label: "Bookings" },
  { href: "/mechandise", label: "Merchandise & Other" },
  { href: "/tattoocare", label: "Tattoo Care" },
  { href: "/contact", label: "Contact" },
];
---

<div class="footer-nav">
  <!-- <a href="#" class="bevelled-button">Click Me</a> -->
  <nav>
    <ul>
      {
        links.map((link) => (
          <li>
            {/* <a href={`${baseUrl}${link.href}`} class:list={[{ active: currentPath === `${baseUrl}${link.href}` }]}>
              {link.label}
            </a> */}
            <a href={`${baseUrl}${link.href}`} class:list={["active", "bevelled-button", { active: currentPath === `${baseUrl}${link.href}` }]}>
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
