---
import { Image } from 'astro:assets';

// Import images
import fairy from '../images/gallery/fairy.png';
import fullback_tattoo from '../images/gallery/fullback_tattoo.jpg';
import dragon_geisha from '../images/gallery/dragon_geisha.jpg';
import microtats from '../images/gallery/microtats.png';
import lee_and_clinton from '../images/gallery/lee_and_clinton.png';
import butterfly3d from '../images/gallery/butterfly3d.png';
import gorilla from '../images/gallery/gorilla.png';
import snake_skeleton from '../images/gallery/snake_skeleton.png';
import clinton_shouldertat from '../images/gallery/clinton_shouldertat.png';
import skullspider from '../images/gallery/skullspider.png';
import tripleLee from '../images/gallery/tripleLee.png';
import tats4tails from '../images/gallery/tats4tails.png';
import clinton_tats4tails from '../images/gallery/clinton_tats4tails.jpg';
import abstract from '../images/gallery/abstract.png';
import angelwings from '../images/gallery/angelwings.png';
import flower from '../images/gallery/flower.png';
import earthhands from '../images/gallery/earthhands.png';
---
    <div class="grid-item"><Image src={fairy} alt="Primal Culture - Fairy" class="hover-image" /></div>
    <div class="grid-item"><Image src={fullback_tattoo} alt="Primal Culture - Full back Tattoo" class="hover-image" /></div>
    <div class="grid-item"><Image src={lee_and_clinton} alt="Primal Culture - Triple Lee + Clinton" class="hover-image" /></div>
    <div class="grid-item"><Image src={gorilla} alt="Primal Culture - Gorilla" class="hover-image" /></div>
    <div class="grid-item"><Image src={skullspider} alt="Primal Culture - Skull Spider" class="hover-image" /></div>
    <div class="grid-item"><Image src={clinton_tats4tails} alt="Primal Culture - SPCA + Clinton - Tats for tails" class="hover-image" /></div>
    <div class="grid-item"><Image src={tripleLee} alt="Primal Culture - Lee with a forearm tattoo" class="hover-image" /></div>
    <div class="grid-item"><Image src={tats4tails} alt="Primal Culture - SPCA Tats for Tails" class="hover-image" /></div>
    <div class="grid-item"><Image src={clinton_shouldertat} alt="Primal Culture - Clinton Naidoo doing a shoulder tattoo" class="hover-image" /></div>
    <div class="grid-item"><Image src={microtats} alt="Primal Culture - Micro Tattoos" class="hover-image" /></div>
    <div class="grid-item"><Image src={dragon_geisha} alt="Primal Culture - Dragon + Geisha" class="hover-image" /></div>
    <div class="grid-item"><Image src={butterfly3d} alt="Primal Culture - 3D butterfly" class="hover-image" /></div>
    <div class="grid-item"><Image src={snake_skeleton} alt="Primal Culture - Snake Skeleton" class="hover-image" /></div>
    <div class="grid-item"><Image src={angelwings} alt="Primal Culture - Angel wings" class="hover-image" /></div>
    <div class="grid-item"><Image src={flower} alt="Primal Culture - Flower" class="hover-image" /></div>
    <div class="grid-item"><Image src={earthhands} alt="Primal Culture - Earth Hands" class="hover-image" /></div>
    <!-- <div class="grid-item"><Image src={abstract} alt="Primal Culture - Abstract tattoo" class="hover-image" /></div> -->